

.bg{
    background-color: gainsboro;
    margin-left: -5px;
    margin-right:-5px;
}

.fs-2{
    text-align: center;
    
}

.title{
    font-size: 30px;
    text-align: center;

}

.inputDetails{
    margin-top: 10px;
}
.clearButton{
    background-color:white;
    color:gray;
    border:none;
}
.clearButton:hover{
    background-color: gray;
    color: white;
}

.ResButton{
    background-color:white;
    color:blue;
    border:none;

}

.favButton{
    background-color:white;
    color:blue;
    border:none;
}

.favButton2{
    background-color:blue;
    color:white;
    border:none;
}

.typeahead-list-group{
    z-index: 5;
    position:'absolute';
    max-height: '300px';

}


.data{
    width:100%
}

#prompt{
    font-size: 15px;
    font-weight: 500;
}

#submit{
    margin-right:20px;
}

